.filter {
    margin-bottom: $spacer;
    select {
        margin-bottom: round($spacer / 2);
    }
    label {
        margin-bottom: 0;
        font-weight: $font-weight-bold;
        color: $black;
    }
    @media (min-width: map-get($grid-breakpoints, 'sm')) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        > div {
            width: calc(50% + #{round($grid-gutter-width / 2)});
            padding-right: $grid-gutter-width;
            &:nth-child(even) {
                width: calc(50% - #{round($grid-gutter-width / 2)});
                padding-right: 0;
            }
        }
    }
    @media (min-width: map-get($grid-breakpoints, 'lg')) {
        label {
            white-space: nowrap;
            padding-right: round($grid-gutter-width / 4);
        }
        select {
            margin-bottom: 0;
        }
        > div {
            width: auto;
            padding-right: round($grid-gutter-width / 2);
            &:nth-child(even) {
                width: auto;
                padding-right: round($grid-gutter-width / 2);
            }
        }
    }
}