.services {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: -$grid-gutter-width;
    margin-left: -(round($grid-gutter-width / 2));
    margin-right: -(round($grid-gutter-width / 2));
    + .more,
    + .pagination-wrapper {
        margin-top: $spacer;
    }
    .section-inner.container & {
        max-width: unset;
    }
}

.service {
    position: relative;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-bottom: $grid-gutter-width;
    padding-left: round($grid-gutter-width / 2);
    padding-right: round($grid-gutter-width / 2);
    &:hover {
        text-decoration: none;
    }
    @media (min-width: map-get($grid-breakpoints, 'lg')) {
        width: 25%;
        .sidebar &,
        .half & {
            width: 50%;
        }
    }
}

.service-inner {
    position: relative;
    display: block;
    width: 100%;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background-color: $service-bg-color;
    @include transition();
    &:hover {
        box-shadow: $box-shadow;
    }
}

.service-img,
.service-title,
.service-info,
.service-rating {
    width: 100%;
}

.service-img {
    align-self: flex-start;
    display: block;
    max-width: 100%;
    margin: 0 0 round($grid-gutter-width / 2);
    @media (min-width: map-get($grid-breakpoints, 'sm')) {
        margin-left: auto;
        margin-right: auto;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }
}

.service-title,
.service-info {
    margin: 0 0 round($grid-gutter-width / 4);
    padding: 0 round($grid-gutter-width / 2);
}

.service-info {
    position: relative;
}

.service-title {
    font-size: 1rem;
}

.service-price {
    padding-right: round($grid-gutter-width / 2);
    font-weight: $font-weight-bold;
    color: $black;
}

.service-category,
.service-rating {
    color: $body-color;
}

.service-category {
    padding-right: round($grid-gutter-width / 2);
}

.service-rating,
.service-labels {
    font-size: $font-size-sm;
}

.service-rating {
    display: flex;
    align-self: flex-end;
    align-items: center;
    padding: round($spacer / 2) round($grid-gutter-width / 2);
    background-color: $gray-light;
}

.service-rating-stars,
.service-rating-count {
    flex-grow: 1;
    flex-shrink: 0;
    width: 50%;
    line-height: 0;
}

.service-labels {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
}

.service-label {
    padding: 0 round($grid-gutter-width / 4);
    color: #fff;
    &.service-label-shoptet,
    &.service-label-partner {
        background-color: $shoptet-blue;
    }
    &.service-label-new {
        background-color: $shoptet-green;
        white-space: nowrap;
    }
    &.service-label-recommended {
        background-color: $shoptet-orange;
    }
    &:last-child {
        border-top-right-radius: $border-radius;
    }
}

.service-rating-count {
    text-align: right;
}

.service-info-table {
    th {
        padding-right: 1rem;
    }
}

.service-description {
    z-index: 1;
    position: absolute;
    left: -1px;
    right: -1px;
    top: 0;
    padding: round($grid-gutter-width / 2);
    border-style: solid;
    border-width: 0 1px 1px;
    border-color: $border-color;
    border-radius: 0 0 $border-radius $border-radius;
    font-size: $font-size-sm;
    background-color: $service-bg-color;
    .service & {
        display: none;
    }
    .service:hover & {
        display: block;
    }
}

.section-inner.container div.service-description {
    max-width: none;
}
