.simple-widget {
    margin-bottom: round($spacer / 2);
    a:hover {
        text-decoration: none;
    }
    .simple-widget-row {
        margin-bottom: 8px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .simple-widget-image {
            flex: 0 0 25%;
            @media (min-width: map-get($grid-breakpoints, 'lg')) {
                flex: 0 0 20%;
            }
        }
        .simple-widget-title {
            flex: 0 0 75%;
            padding: 0 round($spacer / 2);
            @media (min-width: map-get($grid-breakpoints, 'lg')) {
                flex: 0 0 80%;
            }
            .service-title {
                width: auto;
                margin: 0;
                padding: 0;
                color: #000;
                display: inline-block;
            }
            .service-category {
                display: inline-block;
                color: $shoptet-blue;
            }

        }
    }
}
