$fa-font-path: "../../dist/fonts";
$claim-bg-image: url('../../dist/img/claim.png');
$colorbox-path: "../../dist/img/colorbox/";

@import "../node_modules/shoptet-microsite-styles/shoptet/variables-bootstrap";
@import "../node_modules/shoptet-microsite-styles/vendor/bs/scss/functions";
@import "../node_modules/shoptet-microsite-styles/vendor/bs/scss/variables";
@import "../node_modules/shoptet-microsite-styles/shoptet/variables-shoptet";
@import "../node_modules/shoptet-microsite-styles/vendor/bs/scss/mixins";
@import "modules/variables";
@import "modules/services";
@import "modules/filter";
@import "modules/screenshots";
@import "modules/rating";
@import "modules/endpoint-groups";
@import "modules/fonts";
@import "modules/specific";
@import "modules/simple-widget";
@import "modules/tabs";
