$fa-font-path: "../../scaffolding/vendor/fa/webfonts";
$claim-bg-image: url('../../dist/img/bulbs.png');
$colorbox-path: "../../scaffolding/img/colorbox/";

@import "../../scaffolding/shoptet/variables-bootstrap";
@import "../../scaffolding/vendor/bs/scss/functions";
@import "../../scaffolding/vendor/bs/scss/variables";
@import "../../scaffolding/shoptet/variables-shoptet";
@import "../../scaffolding/vendor/bs/scss/mixins";
@import "modules/variables";
@import "modules/services";
@import "modules/filter";
@import "modules/screenshots";
@import "modules/rating";
@import "modules/endpoint-groups";
@import "modules/fonts";
@import "modules/specific";
